
/* Estilo Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff0868;
    transform: scale(1.05);
    transition: 2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00FF08;
}

/* Estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 40px;
}

/* Estilo do Topo */
section.topo-de-site{
    padding: 40px 4%;
}

section.topo-de-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-de-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-de-site .txt-topo-site h1 span{
    color: #00FF08;
}

.topo-de-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-de-site .img-topo-site img{
    height: 460px;
    border-radius: 15px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* Estilo das Especialidades*/

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff5a;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00FF08;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo dos projetos*/
section.projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
    
}

.img-projeto1{
    width: 600px;
    height: 460px;
    background-size: cover;
    background-position: 100 0;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-projeto1:hover{
    background-position: 100% 100%;
}

.img-projeto2{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-projeto2:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo dos formularios*/
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

#jogo-do-mario {
    text-align: center;
    margin-top: 50px;
}

#jogo-do-mario .titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.game-container {
    position: relative;
    width: 800px;
    height: 200px;
    background-color: #FFD700;
    overflow: hidden;
    margin: 50px auto; /* Centralizar o jogo */
}

.mario {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-image: url('images/mario.gif'); /* URL da imagem do Mario */
    background-size: cover;
}

.obstacle {
    position: absolute;
    bottom: 0;
    left: 800px;
    width: 50px;
    height: 50px;
    background-color: #FF6347;
    animation: moveObstacle 2s infinite linear;
}

@keyframes moveObstacle {
    0% { left: 800px; }
    100% { left: -50px; }
}

.mario.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 20px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    display: inline;
    margin: 0 10px;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
