
/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00ff08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #00ff0868;
  transform: scale(1.05);
  transition: 2s;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #00ff08;
}

.btn-abrir-menu{
  display: none;
}

/* Estilo do cabeçalho */
.btn-contato {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 5s forwards;
}

.logo {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 5s forwards;
}

.menu-desktop {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 5s forwards;
}


@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav.menu-desktop ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  margin-left: 40px;
}

.logo img{
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.05);
  transition: 2s;
}


/* Estilo do Menu-Mobile */
.btn-abrir-menu i{
  color: #00ff08;
  font-size: 40px;
}

.menu-mobile{
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .2s;
}

.menu-mobile.abrir-menu{
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile nav ul{
  text-align: right;

}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: #00ff08;
  color: #000;
}

.menu-mobile .btn-fechar{
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
  color: #00ff08;
  font-size: 30px;
}

.overlay-menu{
  background-color: #000000a7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* Estilo do Topo */
.topo-de-site {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 5s forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

section.topo-de-site {
  padding: 40px 4%;
}

section.topo-de-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-de-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 2px solid;
  width: fit-content; 
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

.topo-de-site .txt-topo-site h1 span {
  color: #00ff08;
}

.topo-de-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.topo-de-site .img-topo-site img {
  height: 460px;
  border-radius: 15px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

.topo-de-site .txt-topo-site .btn-social {
  padding: 40px 0%;
}
.topo-de-site .txt-topo-site .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}



/* Estilo das Especialidades*/
.especialidades {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 5s, transform 5s;
}

.especialidades.animate {
  opacity: 1;
  transform: translateX(0);
}



section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff5a;
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #00ff08;
}
.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* Estilo dos projetos*/
.projetos {
  opacity: 0;
  transform: translateX(50px); 
  transition: opacity 8s, transform 8s; 
}

.projetos.animate {
  opacity: 1;
  transform: translateX(0); 
}

section.projetos {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projetos .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-projeto {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100 0;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-projeto:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

.btn-visualizar {
  display: flex;
  justify-content: space-around;
  text-align: center; 
  margin-top: 20px; 

}

.btn-visualizar a {
  text-decoration: none; 
  margin: 0 10px; 
}

.visualizar-btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600; 
  background-color: #00ff08; 
  border: 0; 
  border-radius: 30px; 
  cursor: pointer;
  transition: .2s; 
}


.btn-visualizar button:hover{
  box-shadow: 0px 0px 8px #00ff0868;
  transform: scale(1.05);
  transition: 2s;
}

/* Estilo das certificações */

.certificacoes {
  opacity: 0;
  transform: translateX(50px); 
  transition: opacity 8s, transform 8s; 
}

.certificacoes.animate {
  opacity: 1;
  transform: translateX(0); 
}

section.certificacoes {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.certificacoes .flex {
  justify-content: space-around;
  margin-top: 60px;
}
.img-certificado-wrapper {
  margin: 20px; /* Adiciona espaçamento ao redor do contêiner da imagem */
  display: inline-block; /* Mantém as imagens lado a lado */
}
.img-certificado {
  width: 650px;
  height: 460px;
  background-size: cover;
  background-position: 100 0;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  margin: auto 30px;
}

.img-certificado:hover {
  transform: scale(1.20);
  transition: 2s;
  z-index: 99999;
}



/* Estilo dos formularios*/
.formulario {
  opacity: 0;
  transform: translateY(-50px); 
  transition: opacity 5s, transform 5s; 
}

.formulario.animate {
  opacity: 1;
  transform: translateY(0);
}
section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #00ff08;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  margin-bottom: 0px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li {
  display: inline;
  margin: 0 10px;
}

.footer-menu ul li a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.footer-menu ul li a:hover{
  color: #fff;
  transform: scale(1.05);
}

.card {
  display: flex;
  height: 30px;
  width: 270px;
}

.card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50px;
  width: 300px;
  gap: 10px; 
}


.card .social-link1,.card .social-link2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}


@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}




/* Mobile */

@media screen and (max-width: 1020px) {
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* Classes gerais */
  .flex {
    flex-direction: column;
  }

  .topo-de-site .flex {
    flex-direction: column-reverse;
  }

  h2.titulo {
    font-size: 34px;
    line-height: 30px;
  }
  

  /* Topo do site */
  section.topo-de-site .flex {
    gap: 40px;
  }

  .topo-de-site h1 {
    font-size: 30px;
  }

  section.topo-de-site {
    padding: 20px 8%;
  }

  .topo-de-site .img-topo-site img {
    width: 100%;
  }

  /* Especialidade */
  section.especialidade {
    padding: 40px 8%;
  }

  /* Projeto */

  .img-projeto{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.projetos .flex{
    gap: 60px;
  }

  .btn-abrir-menu{
    display: block; 
  }

  /* Certificações */

  .img-certificado {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

section.certificacoes .flex{
  padding: 40px 4%;
  gap: 60px;
}

.img-certificado:hover {
  transform: none;
  transition: 2s;
  z-index: 99999;
}

}




/* Projeto 1 */

.project-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project-section {
  color: #fff;
  width: 45%;
}

.project-section h3 {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-section ul {
  list-style-type: none;
  padding: 0;
}

.project-section ul li {
  margin-bottom: 5px;
}

.project-section ul img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.project-section ul img:hover {
  transform: scale(1.2); 
}



.topo-de-site .txt-topo-site .btn-social-projeto1 button {
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.topo-de-site .img-topo-site-projeto2 img {
  height: 600px;
  width: 360px;
  border-radius: 15px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}
